



.resource-submit {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	box-sizing: border-box;;
	font-weight: bold;
	height: 2em;
	width: 75%;
	margin: 0.5em auto 0;
}

.resource-submit * {
	font-size: 1rem !important;
	border-radius: 50px;
}

.resource-submit > * {
	height: 100%;
	width: 10rem;
}

.resource-submit > * button {
	height: 100%;
	width: 100%;
}


